requirements
debug.log
assets/*
*.dll
retroarch*
assets/
autoconfig/
bearer/
database/
filters/
iconengines/
imageformats/
info/
overlays/
platforms/
saves/
screenshots/
shaders/
states/
styles
system/
qt.conf
CLAUDE.md